In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('Diabetes_XTrain.csv')

In [5]:
df1.head(n = 10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
5,7,100,0,0,0,30.0,0.484,32
6,4,110,66,0,0,31.9,0.471,29
7,1,111,86,19,0,30.1,0.143,23
8,3,169,74,19,125,29.9,0.268,31
9,1,71,62,0,0,21.8,0.416,26

In [6]:
X_train = df1.values

In [7]:
print(X_train.shape)

(576, 8)

In [8]:
X_train

array([[  7.   , 168.   ,  88.   , ...,  38.2  ,   0.787,  40.   ],
       [  8.   , 110.   ,  76.   , ...,  27.8  ,   0.237,  58.   ],
       [  7.   , 147.   ,  76.   , ...,  39.4  ,   0.257,  43.   ],
       ...,
       [  2.   , 122.   ,  60.   , ...,  29.8  ,   0.717,  22.   ],
       [  4.   , 154.   ,  72.   , ...,  31.3  ,   0.338,  37.   ],
       [  1.   ,  88.   ,  78.   , ...,  32.   ,   0.365,  29.   ]])

In [9]:
df2 = pd.read_csv('Diabetes_YTrain.csv')

In [10]:
df2.head(n = 10)

   Outcome
0        1
1        0
2        1
3        1
4        0
5        1
6        0
7        0
8        1
9        0

In [16]:
Y_train = df2.values
Y_train = Y_train.reshape((-1,))

In [17]:
print(Y_train.shape)

(576,)

In [18]:
df3 = pd.read_csv('test-data.csv')

In [19]:
df3.head(n = 10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22
5,5,137,108,0,0,48.8,0.227,37
6,1,153,82,42,485,40.6,0.687,23
7,6,98,58,33,190,34.0,0.430,43
8,2,92,62,28,0,31.6,0.130,24
9,3,111,56,39,0,30.1,0.557,30

In [20]:
X_test = df3.values

In [21]:
print(X_test.shape)

(192, 8)

In [22]:
#knn

In [44]:
def dist(x1, x2):
    return np.sqrt(sum((x1-x2)**2))

In [72]:
def knn(X_train, Y_train, X_test, k = 19):
    m = X_train.shape[0]
    vals = []
    
    for i in range(m):
        d = dist(X_train[i], X_test)
        vals.append((d, Y_train[i]))
        
    vals.sort()
    vals = vals[:k]
    
    vals = np.array(vals)
    new_vals = np.unique(vals[:, 1], return_counts = True)
    
    index = new_vals[1].argmax()
    pred = new_vals[0][index]
    
    return pred

In [73]:
ans = []

for i in range(X_test.shape[0]):
    ans.append((knn(X_train, Y_train, X_test[i])))

In [74]:
#ans

In [75]:
with open('answer.csv', 'w') as f:
    f.write('Outcome\n')
    
    for x in ans:
        f.write(str(int(x)) + '\n')

In [51]:
#X_train.shape[0]