In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Train.csv')

In [3]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
pclass       1009 non-null float64
survived     1009 non-null float64
name         1009 non-null object
sex          1009 non-null object
age          812 non-null float64
sibsp        1009 non-null float64
parch        1009 non-null float64
ticket       1009 non-null object
fare         1008 non-null float64
cabin        229 non-null object
embarked     1008 non-null object
boat         374 non-null object
body         98 non-null float64
home.dest    582 non-null object
dtypes: float64(7), object(7)
memory usage: 110.5+ KB

In [5]:
columns_to_drop = ["name", "ticket", "cabin", "embarked", "boat", "body", "home.dest"]

In [38]:
data_clean = data.drop(columns_to_drop, axis = 1)

In [39]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null object
age         812 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
fare        1008 non-null float64
dtypes: float64(6), object(1)
memory usage: 55.3+ KB

In [40]:
data_clean.head()

   pclass  survived     sex   age  sibsp  parch    fare
0     3.0       0.0  female   NaN    0.0    0.0   7.750
1     2.0       0.0    male  39.0    0.0    0.0  26.000
2     2.0       1.0  female  40.0    0.0    0.0  13.000
3     3.0       1.0  female  31.0    1.0    1.0  20.525
4     3.0       1.0  female   NaN    2.0    0.0  23.250

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le = LabelEncoder()

In [43]:
data_clean['sex'] = le.fit_transform(data_clean['sex'])

In [44]:
data_clean.head()

   pclass  survived  sex   age  sibsp  parch    fare
0     3.0       0.0    0   NaN    0.0    0.0   7.750
1     2.0       0.0    1  39.0    0.0    0.0  26.000
2     2.0       1.0    0  40.0    0.0    0.0  13.000
3     3.0       1.0    0  31.0    1.0    1.0  20.525
4     3.0       1.0    0   NaN    2.0    0.0  23.250

In [45]:
data_clean = data_clean.fillna({'age': data_clean['age'].mean()})

In [46]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null int64
age         1009 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
fare        1008 non-null float64
dtypes: float64(6), int64(1)
memory usage: 55.3 KB

In [47]:
data_clean = data_clean.fillna({'fare': data_clean['fare'].mean()})

In [48]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null int64
age         1009 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
fare        1009 non-null float64
dtypes: float64(6), int64(1)
memory usage: 55.3 KB

In [49]:
data_clean.head()

   pclass  survived  sex        age  sibsp  parch    fare
0     3.0       0.0    0  29.838978    0.0    0.0   7.750
1     2.0       0.0    1  39.000000    0.0    0.0  26.000
2     2.0       1.0    0  40.000000    0.0    0.0  13.000
3     3.0       1.0    0  31.000000    1.0    1.0  20.525
4     3.0       1.0    0  29.838978    2.0    0.0  23.250

In [73]:
# FUNCTIONS FOR DECISION TREE
def entropy(col):
    counts = np.unique(col, return_counts = True)
    N = col.shape[0]
    ent = 0.0
    
    for ix in counts[1]:
        p = ix/N
        ent += (-1.0*p*np.log2(p))
        
    return ent

def divide_data(x_data, fkey, fval):
    x_left = pd.DataFrame([], columns = x_data.columns)
    x_right = pd.DataFrame([], columns = x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].loc[ix]
        # print(fval)
        # print(fkey)
        if val > fval:
            x_right = x_right.append(x_data.loc[ix])
        else:
            x_left = x_left.append(x_data.loc[ix])
            
    return x_left, x_right

def information_gain(x_data, fkey, fval):
    left, right = divide_data(x_data, fkey, fval)
    
    l = float(left.shape[0])/x_data.shape[0]
    r = float(right.shape[0])/x_data.shape[0]
    
    if left.shape[0] == 0 or right.shape[0] == 0:
        return -100000
    
    i_gain = entropy(x_data.survived) - l*entropy(left.survived) - r*entropy(right.survived)
    
    return i_gain

In [162]:
# DECISION TREE
class DecisionTree:
    
    def __init__(self, depth = 0, max_depth = 5):
        self.left = None
        self.right = None
        self.depth = depth
        self.max_depth = max_depth
        self.fkey = None
        self.fval = None
        self.target = None
        
    def train(self, x_data):
        features = ["pclass", "sex", "age", "sibsp", "parch", "fare"]
        info_gain = []
        
        for f in features:
            i_gain = information_gain(x_data, f, x_data[f].mean())
            info_gain.append(i_gain)
            
        self.fkey = features[np.argmax(info_gain)]
        self.fval = x_data[self.fkey].mean()
        # print("Making tree, feature is {}".format(self.fkey))
        
        left, right = divide_data(x_data, self.fkey, self.fval)
        left = left.reset_index(drop = True)
        right = right.reset_index(drop = True)
        
        if left.shape[0] == 0 or right.shape[0] == 0:
            if x_data.survived.mean() >= 0.5:
                self.target = 1
            else:
                self.target = 0
            return
        
        if self.depth >= self.max_depth:
            if x_data.survived.mean() >= 0.5:
                self.target = 1
            else:
                self.target = 0
            return
        
        self.left = DecisionTree(self.depth+1, self.max_depth)
        self.left.train(left)
        
        self.right = DecisionTree(self.depth+1, self.max_depth)
        self.right.train(right)
        
        if x_data.survived.mean() >= 0.5:
            self.target = 1
        else:
            self.target = 0
        return
    
    def predict(self, test):
        if test[self.fkey] > self.fval:
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [163]:
dt = DecisionTree(max_depth = 6)
dt.train(data_clean)

In [164]:
y_pred = []
for ix in range(data_clean.shape[0]):
    y_pred.append(dt.predict(data_clean.loc[ix]))

In [165]:
# print(y_pred)

In [166]:
# print(np.array(y_pred).shape)

In [167]:
y_pred = np.array(y_pred).reshape((-1, ))

In [168]:
y_actual = data_clean['survived']

In [169]:
# print(y_actual)
# print(y_actual.shape)
# print(y_pred.shape)

In [170]:
acc = np.sum((np.array(y_actual)) == (np.array(y_pred)))/y_pred.shape[0]

In [171]:
print(acc)

0.821605550049554

In [172]:
test_data = pd.read_csv('Test.csv')

In [173]:
test_data.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Flynn, Mr. John Irwin (""Irving"")",male,36.0,0.0,0.0,PC 17474,26.3875,E25,S,5,NaN,"Brooklyn, NY"
1,3.0,"Sage, Miss. Constance Gladys",female,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
2,1.0,"Rood, Mr. Hugh Roscoe",male,NaN,0.0,0.0,113767,50.0000,A32,S,NaN,NaN,"Seattle, WA"
3,2.0,"Gillespie, Mr. William Henry",male,34.0,0.0,0.0,12233,13.0000,NaN,S,NaN,NaN,"Vancouver, BC"
4,2.0,"Collander, Mr. Erik Gustaf",male,28.0,0.0,0.0,248740,13.0000,NaN,S,NaN,NaN,"Helsinki, Finland Ashtabula, Ohio"

In [174]:
test_data_clean = test_data.drop(columns_to_drop, axis = 1)

In [175]:
# test_data_clean.info()

In [176]:
test_data_clean = test_data_clean.fillna(test_data_clean['age'].mean())

In [177]:
test_data_clean['sex'] = le.fit_transform(test_data_clean['sex'])

In [178]:
# test_data_clean.info()

In [179]:
pred = []
for ix in range(test_data_clean.shape[0]):
    pred.append(dt.predict(test_data_clean.loc[ix]))

In [180]:
# print(pred)

In [181]:
ids = []
for i in range(test_data_clean.shape[0]):
    ids.append(i)

In [182]:
# print(ids)

In [183]:
ans = np.stack((ids, pred)).T

In [184]:
# print(ans.shape)

In [185]:
df = pd.DataFrame(data = ans, columns = ['Id', 'survived'])

In [186]:
df.head()

   Id  survived
0   0         0
1   1         0
2   2         0
3   3         0
4   4         0

In [187]:
df.to_csv('answer.csv', index = False)